#logo{
	padding-top: 120px;
}

.button {
	padding-top:20px;
}
.form {
	padding-top:30px;
	width:490px;
	height: 2px;
}
.searchlucky{
	font-size: 15px;
	background-color: #DCDCDC;
	border-radius: 10%;
	opacity: 0.50;
}
.searchlucky:hover{
	color: white;
	background-color: black;
}

.topbar {
	text-align: right;
	color:#222;
}
.space{
	padding-left: 15px;
}
.material-icons.md-18 { 
	font-size: 18px;
	margin-top:8px;
	margin-left: 12px;
	margin-right: 12px; 
}
.material-icons:hover{
	opacity: 1;
	background-color: #DCDCDC;
	color: rgb(0,0,0);
}
#bulbi{
	height:25px;
	width:25px;
	padding-left: 15px;
}
.bottom{
	vertical-align: bottom;
	background-color: teal;
	bottom: 0px;
	position: fixed;
	width:100%;
	left:0px;
}

.buttoms{
	color:black;
	opacity:1;
}
.buttoms:hover{
	color:black;
	background-color: white;
}
.margins{
	margin-right
}

.secbottom{
	position:fixed;
	right:0px;
	bottom: 0px;
}